.container {
  display:inline-block;
}
.nav {
  font-family: Brush Script MT, cursive, bold;
  font-size: 75px;
  text-align: center;
  padding: 50px;
}

.main {
  text-align: center;
  padding-top: 50px;
}

body {
  background-color: #97CADB;
}

main {
  text-align: center;
  padding: 100px 40px 50px 50px;
  margin: auto;
}

button {
  width: 155px;
  height: 65px;
  border-radius: 5px;
  padding: 40px 10px 10px 10px;
  font-family: Arial;
  font-size: 16px;
  background-color: #5CDFE6;
  margin: auto;

}

ul  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li  {
  float:left;
  font-size: 40px;
  padding: 25px 25px;
}


#firstrow {
  width:auto;
  height: auto;
  display: inline-flex;
}

#secondrow {
  width:auto;
  height: auto;
  display: inline-flex;
}
#map {
  width: 100%;
  height: 500px;
  margin-top: 50px;
}

#Clouds {
  background-image: url(http://openweathermap.org/img/w/03d.png);
}

#Clear {
  background-image: url(http://openweathermap.org/img/w/01d.png);
}

#Snow {
  background-image: url(http://openweathermap.org/img/w/13d.png);
}

#Rain {
  background-image: url(http://openweathermap.org/img/w/10d.png);
}

#Mist {
  background-image: url(http://openweathermap.org/img/w/50d.png);
}

#Haze {
  background-image: url(http://openweathermap.org/img/w/50d.png);

}

#Fog {
  background-image: url(http://openweathermap.org/img/w/50d.png);

}

#Drizzle {
  background-image: url(http://openweathermap.org/img/w/09d.png);

}
